/*--
		
		

/* -- 7.0 Faded Slider -- */
	/* -- 7.0 Faded Slider -- */


ul li{list-style:none}
	#slider { clear:both; height:423px;}
	#slider .wrapper { position:relative;}
	.roundabout-holder  { padding: 0; height:357px; position:absolute; margin:20px 0px 0px 0px; }
	.roundabout-moveable-item {
	   height: 357px;
	   width: 380px;
	   cursor: pointer;
	   border:0;
	}
	.roundabout-in-focus { cursor: auto; z-index:99999999 !important;}
	
	.roundabout-moveable-item img {
		width:100%;
		height:100%;
		display:block;
	}

	
	#slider a#previous, #slider a#next { display:block; position:absolute; width:26px; height:49px; overflow:hidden; text-indent:-1000em; margin-top:183px;}
	
	#slider a#previous {background:url(../img/next.gif) no-repeat 0 0; right:23px;}
	#slider a#next {   background:url(../img/prev.gif) no-repeat 0 0; left:5px;}
	
	#slider a:hover { background-position: 0 bottom!important;}

	

			