/* adresses */
body#addresses #center_column{width:100%;}
body#addresses div.addresses{width:970px;}
div.addresses {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	padding: 10px;
	position: relative;
	width: 100%;
}
div.addresses h3 { margin: 0 }
div.addresses p.checkbox input {
	margin-top: 0!important;
	margin-top: -3px
}
div.addresses ul.item { clear: both }
ul.address {
	background-color: white;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0.25em;
	padding-bottom: 0.6em;
	margin-bottom: 1em;
	position: relative;
	width: 100%
}
ul.address.full_width { width: 536px }
ul.address li {
	padding-left: 1.4em;
	margin-top: 0.6em
}
li.address_title {
	margin-top: 0!important;
	background-color: #d0d1d5;
	color: #374853;
	font-weight: bold;
	height: 27px;
	font-size: 1.2em;
	line-height: 1.9em
}
ul.item li.address_title { /*background-image: url('../img/address_alias_left.gif')*/ background-color:#CCC }
ul.alternate_item li.address_title {/* background-image: url('../img/address_alias_right.gif')*/ background-color:#CCC}
ul.full_width li.address_title { /*background-image: url('../img/address_alias_full_width.gif')*/ background-color:#CCC}
li.address_name,
li.address_firstname,
li.address_lastname,
 li.address_update a,
 li.address_delete a { color: #31006f }
li.address_name,
li.address_firstname,
li.address_lastname,
 li.address_company { font-weight: bold }

span.address_name,
span.address_firstname,
span.address_lastname,
span.address_update a,
span.address_delete a { color: #666 }
span.address_name,
span.address_firstname,
span.address_lastname,
span.address_company { font-weight: bold }

li.address_update,
 li.address_delete {
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.5em!important;
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.4em;
	margin-left: 1.4em
}
#center_column .address_add { padding: 1em 0 }
