
/* authentication.tpl */
#create-account_form,
 #authentication #login_form {
	width: 49%;
	height: 20em;
	clear: none;
	float: left
} 
#create-account_form h4 {
	height: 3.4em;
	padding: 0.3em 3em 0 4em
}
#create-account_form p.text,
 #authentication #login_form p.text {
	height: 3.4em;
	margin-left: 4em;
	padding-left: 0;
	padding-right: 0
}
#authentication #login_form a { color: #374853 }
#create-account_form { margin-right: 11px }
#create-account_form p.text {
	text-align: left;
	width: 100px
}
#authentication #create-account_form p.text label { width: 100px }
#authentication input#SubmitCreate,
 #authentication input#SubmitLogin { margin: 0 }
#authentication p.submit {
	margin-right: 0;
	text-align: left;
	padding-left: 0%!important
}
#authentication p.lost_password { padding-left: 4em }
#authentication #create-account_form fieldset,
 #authentication #login_form fieldset { height: 18em }
#authentication p.submit span { padding-right: 0.5em }
#create-account_form label, #authentication #login_form label {
	float: none;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 0.3em
}
#account-creation_form input.text, 
#account-creation_form #id_country, 
#account-creation_form #id_state, 
  #authentication textarea { width: 17em }

.account_creation span.inline-infos
{
	width:100%;
	text-align:left;
	margin:2px 0 2px 32%;
	font-size:9px;
}
