/*
	PrestaShop CSS
	18 used colors: 
	10 grays: #374853 #595a5e #5d717e #76839b #888 #bdc2c9 #d0d1d5 #d0d3d8 #e5e6e7 #f1f2f4
	4 fushias: #f6dce8 #dd2a81 #971d58 #5d0630
	2 yellows: #f8e1a0 #f9e400
	1 green: #488c40
	1 red: #da0f00
*/

* {
	padding: 0;
	margin: 0
}
body {
	background-color: #e5e5e5;
	font-size: 14px;
	font-family: "Arial Narrow",Arial,sans-serif;
	color: #666;
	text-align: center
}

/* Useful */
.align_center { text-align: center }
.align_right { text-align: right }
.middle { vertical-align: middle }
.align_justify { text-align: justify }
.uppercase { text-transform: uppercase }
.hidden, .collapsed, .block_hidden_only_for_screen { display: none }
.wrap { white-space: normal }
.bold { font-weight: bold }
.strike { text-decoration: line-through }
.italic { font-style: italic }
.top { vertical-align: top }
.span_link { cursor: pointer }
.span_link:hover { text-decoration: underline }
.clear { clear: both }
br.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	height: 0
}
/*.top-menu{background:#e7e7e5;position: absolute;width: 960px;left: 10px;padding: 0 5px;}*/
.top-menu,#search_block_top{float:right;}
#header{background:#f4f3f3;margin: 0 0 10px;padding:0px 10px;}
noscript ul { list-style-type: none; background: black; color: white; padding: 10px; border: 1px solid gray }
/* new clearfix */
.clearfix:after { 
	clear: both; 
	display: block; 
	height: 0; 
	font-size: 0; 
	visibility: hidden; 
	content: "."; 
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

/* Footer links */
.footer_links {
	list-style-type: none;
	clear: both;
	height: 2em;
	margin-top: 2em
}
.footer_links li {
	float: left;
	margin-right: 2em;
	height: 2em
}
.footer_links a { text-decoration: none }
.footer_links a:hover { color: black }
.footer_links img.icon { vertical-align: -2px }

/* transfert effect*/
.transferProduct { border: 2px solid #888 }

/* simple list inline */
.inline_list { list-style-type: none; margin-top: 1em }
.inline_list li { float: left; text-align: center }
.inline_list img { display: block }
ul.half {
	width: 45%;
	margin-right: 1em;
	float: left
}

/* Category tree (i.e. in sitemap) */
div.tree_top {
	background: url('../img/sitemap-top.gif') no-repeat -1px -3px;
	padding-left: 24px;
	padding-bottom: 5px;
	padding-top: 3px
}
ul.tree, ul.tree ul { list-style-type: none }
ul.tree li {
	padding-left: 1.2em;
	border-left: 1px gray dotted;
	background: url(../img/sitemap-horizontal.png) no-repeat left 10px;
	margin-left: 1em
}
ul.tree a { padding-left: 0.2em }
ul.tree a.selected { font-weight: bold }
ul.tree li.last {
	background: url(../img/sitemap-last.gif) no-repeat -12px -2px;
	border: none
}
span.grower { cursor: pointer }

/* Tabs */
.idTabs {
	list-style-type: none;
	border-bottom: 2px solid #4D148C;
	height: 21px;
	margin-top: 1em
}
ul.idTabs li {
	float: left;
	margin-right: 5px;
}
.idTabs a {
	display: block;
	height: 18px;
	text-align: center;
	text-decoration: none;
	padding: 1px 10px;
	color: #374853
}
.idTabs .selected {
	color: white
}

/* IdTabs Short*/
.idTabsShort a {
	background-color: #E5E5E5;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #666666;
    display: block;
}
.idTabsShort .selected {
	background-color: #4D148C !important;
    border-color: #4D148C !important;
    color: #FFFFFF !important;
	
}
div.sheets {
	clear: both;
	padding: 1em
}
#more_info_sheets li {
	background-position: 6px 4px;
	margin-bottom: 0.4em 
}

/* global style */
a {
	color: #4D148C;
	text-decoration: none;
	outline: none
}
a:hover { text-decoration: none;text-decoration: underline; }
.input:focus { outline: 0 }
a img {
	outline: none;
	border: none;
	text-decoration: none
}
h1 {
	font-size: 1.1em;
	line-height: 1.6em;
	text-transform: uppercase;
	font-weight: bold;
	color: #462988;
	/*background: transparent url('../img/title_bg.png') no-repeat top left;*/
	height: 21px
}
h1 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em
}
h2 {
	font-size: 1.1em;
	line-height: 1.6em;
	padding-left: 0.5em;
	margin: 0.5em 0;
	text-transform: uppercase;
	font-weight: bold;
	background: #5C248F;
	height: 25px;
	padding: 4px 0 0 10px;
	color:#fff;
}
h2 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em
}
h3 { font-size: 1.1em; margin: 1em 0 }
h4 { font-size: 1em }

/* global layout */
#page {
	width: 970px;
	margin: 0 auto 2px auto;
	text-align: left;
	padding:0 10px;
	background:#fff;
	position: relative;
}
#header_logo {
	float: left;
	display: block
}
img.logo {
	float: left;
	font-size: 2em;
	font-weight: bold;
	margin-top: 57px;
}
#header_right {
	float: right;
	width: 75%;
	text-align: right;
}
#left_column, #center_column, #right_column { float: left }
#left_column {
	clear: left;
	width: 235px;
	margin-right: 10px;
	overflow: hidden
}
#center_column {
	width: 725px;
	margin: 0 0 30px 0;
	overflow: hidden
}
#old_center_column { display: none }

.ac_results_instant {
	display: none;
	visibility: hidden
}
#instant_search_results a.close {
	background: url("../img/nav-logout.gif") no-repeat scroll right 2px transparent;
	float: right;
	margin-right: 7px;
	padding-right: 21px;
	text-transform: none
}
#right_column {
	width: 191px;
	margin-left: 21px;
	overflow: hidden;
	display:none;
}

/* global RTE fields */
.rte,
 .mceContentBody {
	text-align: left;
	background: white;
}
body.mceContentBody {
	margin: 9px 6px;
	width: 556px
}
.rte html,.rte div,.rte span,.rte applet,.rte object,.rte iframe,.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6,.rte p,.rte blockquote,.rte pre,.rte a,.rte abbr,.rte acronym,.rte address,.rte big,.rte cite,.rte code,.rte del, .rte dfn, .rte em,.rte font,.rte img,.rte ins,.rte kbd,.rte q,.rte s,.rte samp,.rte small,.rte strike,.rte strong,.rte sub,.rte sup,.rte tt,.rte var,.rte dl,.rte dt,.rte dd,.rte ol,.rte ul,.rte li,.rte fieldset,.rte form,.rte label,.rte legend,.rte table,.rte caption,.rte tbody,.rte tfoot,.rte thead,.rte tr, .rte th,.rte td,
.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote, .mceContentBody pre, .mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite, .mceContentBody code, .mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins, .mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp, .mceContentBody small, .mceContentBody strike, .mceContentBody strong, .mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var, .mceContentBody dl, .mceContentBody dt, .mceContentBody dd, .mceContentBody ol, .mceContentBody ul, .mceContentBody li, .mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend, .mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th, .mceContentBody td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}
.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6,
 .mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
	margin: 0.75em 0 0.3em 0;
	color: #374853
}
.rte h1,
 .mceContentBody h1 {
	font-size: 25px;
	font-weight: bold;
	background: inherit
}
.rte h2,
 .mceContentBody h2 {
	font-size: 20px;
	background: none;
	text-transform: none;
	height: auto
}
.rte h3, .mceContentBody h3 { font-size: 16px }
.rte h4, .mceContentBody h4 { font-size: 14px }
.rte h5,.mceContentBody h5 { font-size: 12px }
.rte h6, div.rte h6 { font-size: 8px }
.rte ol, .mceContentBody ul, div.rte ol, .mceContentBody ul { padding-left: 2em }
.rte ul, .mceContentBody ul {
	list-style-type: square;
	margin-left: 18px;
}
.rte strong, .mceContentBody strong { font-weight: bold }
.rte em, .mceContentBody em { font-style: italic }

/* tables still need 'cellspacing="0"' in the markup */
.rte table,.mceContentBody table {
	border-collapse: separate;
	border-spacing: 1px;
	width: auto
}
.rte caption, .rte th, .rte td, .rte table,
 .mceContentBody caption, .mceContentBody th, .mceContentBody td, .mceContentBody table {
	text-align: left;
	font-weight: normal;
	background: none;
	height: inherit;
	border: 1px #e5e6e7 solid;
	text-align: center
}
.rte th, .mceContentBody th {
	padding-left: 1em;
	padding-right: 1em;
	background: #e5e6e7
}
#center_column .rte p, 
 .mceContentBody p { padding-left: 0; margin:  0 }
.rte ol, .mceContentBody ol {
	list-style-type: decimal;
	margin-left: 10px
} 

/* /global RTE fields */

/* global table style */
div.table_block {
	background: transparent url('../img/table_footer.gif') no-repeat bottom left;
	padding-bottom: 6px;
	margin: 0 auto 2em;
	width: 541px
}
.std {font-size: 11px;}
table.std {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%
}
/*class table.std */
.std td,.std th { padding: 0.4em 0.5em }
.std th { white-space: nowrap }
.std tr.item td,.std .item th { background-color: white }
.std tr.alternate_item td,
.std tr.alternate_item th { background-color: #f1f2f4 }
.std tbody td,.std tfoot td { border-top: 1px solid #bdc2c9 }
.std thead th {
	background-color: transparent;
	background-image: url('../img/table_header.gif');
	background-repeat: no-repeat;
	height: 24px;
	color: #374853;
	font-weight: bold;
	text-align: left;
	white-space: nowrap
}
.std th.first_item { background-position: top left }
.std th.last_item { background-position: top right }
.std th.item { background-position: -5px 0 }
.std tfoot td {
	color: #374853;
	text-align: right;
	white-space: nowrap
}

/* /global table style */

/* global form style */
form.std { clear: both }
form.std h3 {
	color: #555;
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: 1px solid #d0d1d5;
	padding: 0.5em;
	margin: 0 0 0.5em 0
}
form.std fieldset {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	margin-bottom: 1em;
	padding-bottom: 1em
}
form.std legend {
	padding: 0.3em 0.6em;
	margin: 1em 0 1em 0.5em;
	font-size: 1.6em;
	font-weight: 100;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 1px
}
form.std h4, form.std p {
	padding: 0.3em 1em;
	clear: both
}
form.std label, form.std p span {
	float: left;
	text-align: right;
	width: 30%
}
form.std p span.like_input {
	width: auto;
	margin-left: 0.7em
}
input, textarea, select, span.editable {
	margin-left: 0.7em;
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-Serif;
	outline: none
}
input, textarea, select { border: 1px solid #bdc2c9 }
input.text {
	height: 18px;
	padding-left: 2px;
	padding-right: 2px
}
.checkbox input, .radio input { border: none }
form.std .checkbox label, form.std .radio label, form.std span.form_info {
	margin: 0;
	float: none;
	text-align: left
}
.required sup { color: #da0f00 }
form.std p.checkbox { padding-left: 30% }
form.std p.submit {
	padding-left: 31%!important;
	margin-bottom: 1.5em
}
#center_column form.std p.submit2 {
	padding-left: 170px;
	margin-bottom: 1.5em
}

/* START OF BUTTONS SECTION
 * -tags: input, a, span
 * -sizes: mini, small, normal, large
 * -types: button, exlusive
 * -status: normal, hover, disabled
 * -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	background-repeat: no-repeat;
	background-position: top left;
	border: none;
	color: #fff!important;
	font-weight: bold;
	text-align: center;
	text-decoration: none!important;
	cursor: pointer;
	display: block;
	line-height: 17px;
	height: 20px;
	font-family:Arial;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0 10px;
}

/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
	padding-bottom: 2px
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	background-position: left -36px;
	cursor: default;
	color: #888!important
}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	color: white!important
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	color: #488c40!important
}

/* hover button 
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	background-position: left -18px
}
*/
/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	color: white!important
}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini, a.exclusive_mini, span.button_mini, span.exclusive_mini {
	width: 30px;
	background-image: url('../img/button-mini.png')
}
input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled, a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {
	width: 60px;
	background-image: url('../img/button-small.png')
}
input.button, input.button_disabled, input.exclusive, input.exclusive_disabled, a.button, a.exclusive, span.button, span.exclusive {
	/*width: 100px;
	background: url('../img/button-medium.png');*/
	background: #00a0d2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTBkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iIzAxOWZjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzAyOTVjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzAwOTJjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzAwN2FhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #00a0d2 0%, #019fcf 11%, #0295c8 26%, #0092c5 37%, #007aa6 84%, #0073a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0d2), color-stop(11%,#019fcf), color-stop(26%,#0295c8), color-stop(37%,#0092c5), color-stop(84%,#007aa6), color-stop(100%,#0073a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00a0d2 0%,#019fcf 11%,#0295c8 26%,#0092c5 37%,#007aa6 84%,#0073a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00a0d2 0%,#019fcf 11%,#0295c8 26%,#0092c5 37%,#007aa6 84%,#0073a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00a0d2 0%,#019fcf 11%,#0295c8 26%,#0092c5 37%,#007aa6 84%,#0073a2 100%); /* IE10+ */
background: linear-gradient(to bottom, #00a0d2 0%,#019fcf 11%,#0295c8 26%,#0092c5 37%,#007aa6 84%,#0073a2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0d2', endColorstr='#0073a2',GradientType=0 ); /* IE6-8 */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:0 10px;
}
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large, span.exclusive_large_disabled {
/*	width: 180px;*/
	background: #9578ba; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1NzhiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iIzkxNzJiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzg2NjRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzVjMjg5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDE2OGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9578ba 0%, #9172b8 11%, #8664b1 26%, #5c2896 79%, #50168e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9578ba), color-stop(11%,#9172b8), color-stop(26%,#8664b1), color-stop(79%,#5c2896), color-stop(100%,#50168e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9578ba', endColorstr='#50168e',GradientType=0 ); /* IE6-8 */

}

/* exclusive button */
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { 
background: #9578ba; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1NzhiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iIzkxNzJiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzg2NjRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzVjMjg5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDE2OGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9578ba 0%, #9172b8 11%, #8664b1 26%, #5c2896 79%, #50168e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9578ba), color-stop(11%,#9172b8), color-stop(26%,#8664b1), color-stop(79%,#5c2896), color-stop(100%,#50168e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9578ba', endColorstr='#50168e',GradientType=0 ); /* IE6-8 */

}
.ajax_block_product .button{width:80px;}
#create-account_form #SubmitCreate,#login_form #SubmitLogin{margin:0 0 0 44px!important;}
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image: url('../img/button-mini_exclusive.gif') }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image: url('../img/button-small_exclusive.gif') }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large, span.exclusive_large_disabled { background-image: url('../img/button-large_exclusive.gif') }

/* id_state field in managed via JS and is firstly hidden */
form p.id_state { display: none }

/* generic style */
ul.bullet li, .block ul.bullet li, li.bullet, .informations_block_left li {
	padding-left: 20px;
	background: transparent url('../img/leftnav_circle_arrow.gif') no-repeat center left!important;
	list-style-type: none;
	border-bottom:1px solid #CCCCCC;
}
.informations_block_left li{padding:0 0 0 20px!important;}
.price-discount { text-decoration: line-through }
.price-pretax { color: gray }
.price-ecotax { color: #488c40 }
img.icon { margin-right: 0.5em; vertical-align: middle }
.weight-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.volume-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.unity-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.price, .price-shipping, .price-wrapping {
	color: #da0f00;
	font-weight: bold;
	white-space: nowrap
}

/* errors */
.error {
	width: 90%;
	color: #da0f00;
	margin: 0.3em auto 1.5em auto;
	padding: 0.3em 0.8em 1em
}
.error p { font-weight: bold }
.error li {
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	padding-left: 3em
}

/* warning */
.warning {
	color: black;
	font-size: 1.2em;
	background-color: #F8E1A0;
	border: 1px dashed #F9E400;
	font-weight: bold;
	margin: 0.2em 2em;
	padding: 0.6em 1em
}
.warning_inline {
	color: #da0f00;
	font-weight: bold
}

/* success */
.success {
	color: green;
	font-weight: bold;
	margin: 0.2em 1em;
	padding: 0.3em 0.8em 1em
}
.success_inline {
	color: green;
	font-weight: bold
}

/* breadcrumb.tpl */
.breadcrumb {
	font-size: 1em;
	color: #888;
	display:none;
}
.breadcrumb .navigation-pipe { padding: 0 0.6em }
.breadcrumb a {
	text-decoration: none;
	color: #5d717e
}
.breadcrumb a:hover { text-decoration: underline }

/* pagination.tpl */
div.pagination { padding: 1em 0 }
ul.pagination {
	list-style: none;
	float: left;
	clear: both;
}
ul.pagination li {
	display: inline;
	float: left;
	margin-right: 0.3em
}
ul.pagination li, ul.pagination a, ul.pagination span {
	font-weight: bold;
	color: #374853
}
ul.pagination a, ul.pagination span {
	border: 1px solid #888;
	padding: 0em 0.4em;
	display: block;
	line-height: 17px;
	background: #bdc2c9 url('../img/pagination_bg.gif') repeat-x top right
}
ul.pagination a { text-decoration: none }
ul.pagination .current span {
	background-color: #595a5e;
	background-image: url('../img/pagination-bg-current.gif');
	color: white;
	border: 1px solid #595a5e
}
ul.pagination li.truncate {
	padding: 0.3em;
	background: none
}
#pagination_previous a, #pagination_previous span, #pagination_next a, #pagination_next span {
	background-image: url('../img/pagination-prevnext-bg.gif');
	border: none;
	line-height: 19px;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 0 1px
}
#pagination_previous {
	background: transparent url('../img/pagination-prev-border.gif') no-repeat top left;
	padding-left: 6px
}
#pagination_previous a, #pagination_previous span { border-left: none }
#pagination_next {
	background: transparent url('../img/pagination-next-border.gif') no-repeat top right;
	padding-right: 6px
}
#pagination_next a, #pagination_next span { border-right: none }
li.disabled span {
	color: #888;
	background-color: #f1f2f4
}
form.pagination { text-align: right }
form.pagination label {
	line-height: 1.4em;
	vertical-align: bottom;
	float: right;
	margin-left: 0.3em
}
form.pagination select { float: right }
form.pagination select option {
	font-size: 0.9em;
	padding-right: 1em
}
form.pagination input { float: right }

/* steps (like order step) */
ul.step {
	background: transparent url('../img/step_start.gif') no-repeat bottom left;
	list-style: none;
	margin: 0.8em auto 2em;
	padding-left: 40px;
	height: 40px;
	width: 465px
}
ul.step li {
	height: 40px;
	float: left;
	width: 100px;
	text-align: center;
	background: transparent url('../img/step_standard.gif') no-repeat bottom left
}
ul.step li.step_current {
	background: transparent url('../img/step_current.gif') no-repeat bottom left;
	font-weight: bold;
	color: #4D148C;
}
ul.step li.step_todo { font-style: italic }
ul.step li#step_end { width: 40px }
ul.step li#step_end { background: transparent url('../img/step_end.gif') no-repeat bottom left }
ul.step li#step_end.step_current { background: transparent url('../img/step_end_current.gif') no-repeat bottom left }
ul#order_step { background-color: white }

/* product-sort.tpl */
#productsSortForm p {
	height: 1em;
	margin: 0.5em 0 0 0
}
#productsSortForm label, #productsSortForm select { float: right }
#productsSortForm select { font-size: 1em }

/* Header */
#header_right ul { list-style: none }
#header_right form {
	border: none;
	margin-bottom: 0!important;
	display: inline
}
#header_right label {
	margin: 0;
	float: none
}

/* Footer */
#footer {
	border-top: 1px solid #d0d3d8;
	padding: 0.5em 0;
	clear: both
}

/* Default block style */
div.block-cms h1 a { color: #374853; text-decoration: none; }
div.block-cms h1 a:hover { text-decoration: underline; }
div.block {
	margin-bottom: 1em;
}
#left_column div.block,
 #right_column div.block {
	padding-bottom: 5px;
	/*background: transparent url('../img/block_footer.png') no-repeat bottom left*/
}
div.block h4 {
	text-transform: uppercase;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 12px;
	padding-left: 0.5em;
	padding-top: 2px;
	line-height: 1.3em;
	color: #462988;
	height: 19px;
	border-bottom:1px solid #CCCCCC;
	/*background: transparent url('../img/block_header.png') no-repeat top left*/
}
div.block h4 a { color: #4D148C }
div.block ul { list-style: none }
div.block ul.tree li { padding-left: 1.2em;background: transparent url('../img/leftnav_circle_arrow.gif') no-repeat center left!important;}
div.block a:hover { text-decoration: underline }
#left_column div.block .block_content a.button_large,
 #right_column div.block .block_content a.button_large { margin: 0 0 0 -3px }
div.block .block_content {
	min-height: 16px
}
div.block li {
	padding: 0.2em 0 0.2em 0em;
	list-style-position: outside
}
div.block a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}

/* block exclusive */
#left_column div.exclusive, #right_column div.exclusive {
	background: transparent url('../img/block_exclusive_footer.jpg') no-repeat bottom left
}
div.exclusive h4 {
	background: transparent url('../img/block_header_exclusive.png') no-repeat top left;
	color: white
}
div.exclusive h4 a { color: white }
div.exclusive li { margin-top: 0 }
div.exclusive, div.exclusive a { color: white }
div.exclusive .block_content {
	background: #bdc2c9 url('../img/block_exclusive_bg.jpg') repeat-x bottom left;
	border-left: 1px solid #595a5e;
	border-right: 1px solid #595a5e
}

/* block in the center column */
#center_column p { margin: 0.5em 0; padding-left: 0.7em }
#center_column div.block { /*width: 536px;*/ margin: auto }
#center_column div.block h4 {
	/*background: transparent url('../img/block_header_large.png') no-repeat top left;*/
	color: white;
	background: #5C248F;
	height: 25px;
	line-height: 25px;
}

/* Styles for products blocks */

/* block products (new, features, viewed, etc...) on left and right column */
.products_block li { margin-top: 0.2em }
.products_block li.item img { margin-right: 5px }
.products_block li.last_item { border: none }
.products_block li img {
	float: left;
	margin-right: 0.2em
}
.products_block p img {
	float: none;
	margin: 0 0 0 0.4em
}
.products_block li h5 {
	display: inline;
	font-size: 0.9em
}
.products_block li p a {
	font-weight: bold;
	font-size: 0.8em
}
.products_block dl {
	clear: both;
	border-top: 1px solid #374853;
	padding: 0 4px 4px
}
.products_block dl dt {
	margin-top: 0.3em;
	color: #595a5e
}
.products_block a.button_large { margin: 0.4em 0.4em 0 0.4em }
.products_block ul.product_images li {
	border: none;
	float: left;
	clear: none
}

/* Special style for block products in center column */
#center_column .products_block { border: none }
#center_column .products_block { color: #595a5e }
#center_column .products_block h4 { line-height: 1.3em }
#center_column .products_block .block_content {
	padding: 0
}
#center_column .products_block ul li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 1px;
	width: 235px;

}
#center_column .products_block ul .product_accessories_description {
	margin: 0;
	padding: 0;
	height: 280px
}

/*#center_column .products_block li.last_item { float: none; clear: both }*/
#center_column .products_block li.last_item_of_line { border-right: none;margin: 0; }
#center_column .products_block li.first_item_of_line { clear: both }
#center_column .products_block li.last_line { border-bottom: none }
#center_column .products_block p, #center_column .products_block h5 { margin: 0.5em 0.1em }
#center_column div.products_block h5 {
	display: block;
	margin-top: 8px;
	height: 2.57em;
	text-align: center;
}
#center_column div.products_block h5 a {
	color: #374853;
	font-size: 1.1em
}
#center_column div.products_block ul li p {
	margin: 0;
	padding: 0
}
#center_column div.products_block div.product_desc {
	height: 9em;
	color: #595a5e;
	overflow: hidden
}
#center_column div.products_block a.product_image {
	display: block;
	background-color: transparent;
	margin-bottom: 2px;
}
#center_column div.products_block .product_accessories_description a.product_image {
	width: 118px;
	height: 85px
}
#center_column div.products_block a.product_description {
	display: block;
	width: 118px;
	height: 50px;
	margin-left: 2px;
	margin-bottom: 8px;
	overflow:hidden
}

#center_column div.products_block a.product_image img {
	float: none;
	margin: 0
}
#center_column div.products_block h5 { margin: 10px 0px 3px 0px }
#center_column div.products_block ul li div.product_desc a { font-weight: normal }
#center_column .products_block span.price {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0;
	/*display: block;*/
}
p.price_container { text-align: center }
#center_column .products_block .featured_price { margin-top: 2.5em }
#center_column .products_block a.button,
 #center_column .products_block a.exclusive,
  #center_column .products_block span.exclusive { margin: 0.5em auto }

/* Special style for block accessories in center column (product page) */
#center_column .products_block.accessories_block .block_content { background: none }
#center_column div.products_block.accessories_block div.product_desc { 
	margin-right: 0;
	height: 150px; 
	border-right: 1px solid #d0d3d8 
}
#center_column .products_block.accessories_block .block_content li { background: none; text-align: center }
#center_column .products_block.accessories_block .block_content li h5,
 #center_column .products_block.accessories_block .block_content li a.product_description { text-align:left }
#center_column .products_block.accessories_block .block_content li.last_item a.product_image { border: none }

/* discount.tpl */
td.discount_value { white-space: nowrap }

/* address.tpl */
p.address_navigation { 
	padding: 1em 0!important;
	margin-bottom: 1.5em
}
p.address_navigation a.button { float: left }
p.address_navigation input[type=submit].button { float: right }

/* shopping cart */
.cart_last_product { 
	width: 300px;
	margin: 0 auto 12px
}
.cart_last_product_header,
.cart_last_product_header .left {
	background: url('../img/table_header.gif') right 0;
}
.cart_last_product_header .left {
	background-color:#fff;
	background-position:0 0;
	margin-bottom:5px;
	padding-left: 27px;
	width: 249px;
	height: 24px;
	line-height: 24px;
	color: #374853;
	font-weight: bold
}
.cart_last_product_img { float:left }
.cart_last_product_img img {
	margin:0 6px;
	border:1px solid #D0D1D5;
	width: 45px;
	height: 45px
}
 .cart_last_product_content { 
	float:right; 
	width:241px 
}
.cart_last_product_content a { text-decoration:none }
.cart_last_product_content h5 { font-size:9px }
.cart_last_product_content h5 a { color:#595A5E }

p.cart_navigation { padding: 1em 0!important }
p.cart_navigation .button,
 p.cart_navigation .button_large { float: left }
p.cart_navigation .exclusive,
 p.cart_navigation .exclusive_large,
 p.cart_navigation .exclusive_large_disabled { float: right }
p.cart_navigation_extra {
	text-align: center;
	width: auto
}
form.std p.cart_navigation span {
	float: none;
	text-align: left;
	width: auto
}
#cart_summary tfoot td {
	border-top: none;
	line-height: 1.5em
}
#cart_summary tfoot tr.cart_total_product td { border-top: 1px solid #bdc2c9 }
#cart_summary tfoot tr.cart_total_price td { border-bottom: 2px solid #bdc2c9 }
#cart_summary .price, #cart_summary .price-discount {
	color: #595A5E;
	font-size: 1em;
	text-decoration: none
}
tr.cart_item td { padding: 0.5em 0 }
td.cart_product a { margin: 0 0.6em }
td.cart_product a img {
	border: 1px solid #d0d1d5;
	width: 45px;
	height: 45px
}
td.cart_product a:hover img { border: 1px solid #888 }
td.cart_description a { text-decoration: none }
td.cart_description a:hover { text-decoration: underline }
td.cart_description h5 a, td.cart_ref, td.cart_total { color: #595a5e }
td.cart_unit, td.cart_total, td.cart_discount_price { text-align: right }
td.cart_availability, td.cart_ref { text-align: center }
td.cart_total .price { font-weight: bold }
tr.cart_item td.cart_unit { padding-right: 1em }
td.cart_quantity {
	width: 7.5em;
	text-align: right
}
.cart_quantity_input { float: right; margin: 5px 10px 0 0; }
td.cart_quantity p, td.cart_quantity a {
	float: left;
	display: inline
}
td.cart_quantity p { padding-right: 0.3em }
td.cart_quantity .icon { margin-top: 0.6em }
td.cart_quantity a.cart_quantity_up,
 td.cart_quantity a.cart_quantity_down { display: block }
tr.cart_free_shipping { white-space: normal }
tr.cart_total_price { font-weight: bold }
#order tfoot p {
	margin: 0;
	float: left;
	width: 85%
}
#order tfoot span {
	float: right;
	width: 15%;
	display: block
}
#order #voucher fieldset {
	border: 1px solid #bdc2c9;
	padding: 0.7em
}
#order form#voucher fieldset #display_cart_vouchers {
	margin-top:5px;
	clear:both;
	float:left;
}
#order form#voucher fieldset #display_cart_vouchers .voucher_name {
	color:#DD2A81;
	font-weight:bold;
	cursor:pointer;
}
#order form#voucher h4,
 #order form#voucher p,
 #order form#voucher .button { display: inline }
#order form#voucher h4 {
	float: left;
	line-height: 1.5em;
	margin-right: 6em
}
#order #order_carrier {
	clear: both;
	margin-top: 1em;
	border: 1px solid #bdc2c9;
	padding: 0.5em
}
#order #order_carrier h4 {
	width: 50%;
	display: inline
}
#order #order_carrier img { vertical-align: middle }
#order #order_carrier span { margin: 0 0.2em }
#order #gift_div { display: none }
#order #gift_div label, #order #gift_div textarea {
	display: block;
	width: 100%;
	margin: 1em 0
}

#order-opc tfoot p {
	margin: 0;
	float: left;
	width: 85%
}
#order-opc tfoot span {
	float: right;
	width: 15%;
	display: block
}
#order-opc #voucher fieldset {
	border: 1px solid #bdc2c9;
	padding: 0.7em
}
#order-opc form#voucher fieldset #display_cart_vouchers {
	margin-top:5px;
	clear:both;
	float:left;
}
#order-opc form#voucher fieldset #display_cart_vouchers .voucher_name {
	color:#DD2A81;
	font-weight:bold;
	cursor:pointer;
}
#order-opc form#voucher h4,
 #order-opc form#voucher p,
 #order-opc form#voucher .button { display: inline }
#order-opc form#voucher h4 {
	float: left;
	line-height: 1.5em;
	margin-right: 6em
}
#order-opc #order_carrier {
	clear: both;
	margin-top: 1em;
	border: 1px solid #bdc2c9;
	padding: 0.5em
}
#order-opc #order_carrier h4 {
	width: 50%;
	display: inline
}
#order-opc #order_carrier img { vertical-align: middle }
#order-opc #order_carrier span { margin: 0 0.2em }
#order-opc #gift_div label, #order #gift_div textarea {
	display: block;
	width: 100%;
	margin: 1em 0
}

#guest-tracking p.center { width: 100%; text-align: center; }
#guest-tracking p.center input.exclusive_large { display: inline; }

/* views block */
#views_block {
	margin: 0 auto;
	width: 290px
}
#thumbs_list {
	overflow: hidden;
	float: left;
	width: 255px
}
#thumbs_list ul {
	padding-left: 0;
	list-style-type: none;
	margin-top: 5px
}
#thumbs_list li {
	float: left;
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin-right: 5px
}
#view_scroll_left, #view_scroll_right {
	background: url('../img/thumbs_left.gif') no-repeat center;
	text-indent: -3000px;
	width: 9px;
	height: 18px;
	float: left;
	margin-top: 30px;
	padding-right: 4px;
	padding-left: 4px
}
#view_scroll_right { background-image: url('../img/thumbs_right.gif') }
span.view_scroll_spacer {
	float: left;
	width: 17px;
	height: 80px
}

/* manufacturers-list.tpl && suppliers-list.tpl */
#manufacturers_list, #suppliers_list {
	margin-top: 2em;
	list-style-type: none
}
#suppliers_list li, #manufacturers_list li {
	background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;
	border: solid 1px #d0d3d8;
	padding: 0.6em;
	margin-bottom: 1.5em;
}
#suppliers_list li a, #manufacturers_list li a {
	text-decoration: none;
	color: #374853
}
#suppliers_list li h3, #manufacturers_list li h3 { margin: 0.4em 0 }
#suppliers_list .left_side, #manufacturers_list .left_side {
	float: left;
	width: 75%
}
#suppliers_list .logo, #manufacturers_list .logo {
	border: solid 1px #d0d3d8;
	float: left;
	margin-right: 0.6em
}
#suppliers_list li p.description,
#manufacturers_list li p.description { font-size: 0.92em }
#suppliers_list li .right_side,
#manufacturers_list li .right_side {
	float: right;
	text-align: right
}
#suppliers_list .right_side span,
#manufacturers_list .right_side span {
	font-size: 1.7em;
	color: #da0f00
}
#suppliers_list li a.button,
#manufacturers_list li a.button { margin-top: 4em }

/* conditions & legal */
ul.shop_info {
	list-style-type: square!important;
	list-style-position: inside;
	padding: 0.6em;
	margin-top: 0.6em;
	margin-left: 2em;
	border: 1px solid #888
}
ul.shop_info li {
	padding-left: 0.5em!important;
	padding-bottom: 0.5em!important
}

/* conditions.tpl */
#conditions #right_column { display: none }
#conditions h2 { background: transparent url('../img/title_bg_large.gif') no-repeat top left }
#conditions #center_column {
	width: 730px;
	text-align: justify
}
#conditions #center_column ul,
 #conditions #center_column ol {
	margin-left: 2em;
	padding: 0.6em
}
#conditions #center_column ul { list-style-type: circle }
#conditions #center_column li { padding-bottom: 0.5em }
#conditions #center_column { line-height: 1.3em }

/* order step 3: PAYMENT */
.payment_module { display: block }
.payment_module img {
	vertical-align: middle;
	margin-right: 1em
}
.payment_module a {
	display: block;
	border: 1px solid #595a5e;
	padding: 0.6em;
	text-decoration: none
}
.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
	border: 1px solid #488c40;
	background-color: #e5e6e7;
	color: #374853
}

/* Printable version */
@media print {
	div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top, #search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {
		display: none
	}
	div#center_column { width: 100% }
	input.text { border: 1px solid gray }
	.block_hidden_only_for_screen { 
		display: block; 
		margin-top: 1em 
	}
	#more_info_sheets #idTab1 { width: 530px }
	* { 
		background: none!important; 
		background-color: white!important; 
	}
}

/* Customizable product */
#customization_block { width: 556px }
.customization_block_title { margin: 4px 4px 4px 2px }
#customization_block ul { margin: 6px 6px 0 6px }
.customization_block_input { vertical-align: inherit }
img.customization_delete_icon { margin: 2px }
li.customizationUploadLine {
	text-align: right;
	margin-right: 40px;
	clear: left;
	padding: 4px;
	display: block
}
div.customizationUploadBrowse { float: left }
div.customizationUploadBrowseDescription { padding: 6px }
img.customizationUploaded {
	margin: 2px;
	border: 1px solid #888888
}
ul.customizationUploaded {
	list-style-type: none;
	margin-left: 4px
}
ul.customizationUploaded li { display: inline }
ul.customizationUploaded a { text-decoration: none }
div.customizationUploaded { clear: left }
div.deletePictureUploaded { float: right }
div.deleteCustomizableProduct { float: right }
ul.typedText {
	padding-left: 6px;
	list-style-type: none
}
/* mywishlist */
#mywishlist div#block-order-detail form.wl_send fieldset p input { margin-left: 60px }
#mywishlist div#block-order-detail {
	margin-top: 10px; 
	display: block
}
#mywishlist form.std fieldset label { width: 30px }
#mywishlist form.std fieldset input#submitWishlist { display: inline }
#mywishlist table.std thead th.mywishlist_first {
	text-align: center;
	width: 40px
}
#mywishlist table.std thead th.mywishlist_second {
	text-align: center;
	width: 80px
}
#mywishlist table.std thead th.first_item,
#mywishlist table.std tbody tr td { width: 200px }
#mywishlist div#block-order-detail ul li span.wishlist_product_detail select { margin: 0 }
#mywishlist div#block-order-detail { margin-top: 10px }
#mywishlist #hideBoughtProducts,
#mywishlist #showBoughtProducts {
	float: left;
	margin: -18px 0 0 5px
}
#mywishlist #showBoughtProducts,
#mywishlist #hideBoughtProductsInfos,
#mywishlist #hideSendWishlist { display: none }
#mywishlist #showBoughtProductsInfos,
#mywishlist #hideBoughtProductsInfos { margin-left: 5px }
#mywishlist #showSendWishlist,
#mywishlist #hideSendWishlist,
#mywishlist div#block-order-detail ul li a.exclusive {
	float: right;
	margin: -18px 0 0 0
}
#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th { text-align: center }
#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th.first_item { width: 300px }
#mywishlist div#block-order-detail table.wlp_bought_infos { margin: 0 0 0 10px }
#mywishlist div#block-order-detail ul li img { float: left }

/* View wishlish */
#view_wishlist #featured-products_block_center ul div li a img { float: left }
#view_wishlist #featured-products_block_center ul div li a,
 #view_wishlist #featured-products_block_center ul div li span {
	text-decoration: none;
	float: left
}
#view_wishlist #featured-products_block_center ul div li span.wishlist_product_detail,
 div#mywishlist div#block-order-detail ul li span.wishlist_product_detail {
	margin-left: 30px;
	float: left
}
div#mywishlist div#block-order-detail ul li span.wishlist_product_detail { margin-bottom: 5px } 
#view_wishlist #featured-products_block_center ul div li a.exclusive,
 #view_wishlist #featured-products_block_center ul div li span.exclusive {
	margin-left: 55px
}
#view_wishlist #featured-products_block_center ul div li.address_name input.text {
	color: #999;
	font-weight: bold;
	font-size: 11px;
	border: 0
}

/* module reversoform*/
.account_creation #reverso-form { width: 100% }
.account_creation #reverso-form label {
	width: 250px;
	text-align: left;
	margin-left: 10px
}
.account_creation #reverso-form label#legend_reverso {
	clear: both;
	width: 100%;
	font-size: 10px;
	text-align: left
}
.account_creation #reverso-form input#reverso_form { margin-top: 20px }

/* module productcomments */
.rating {
	cursor: pointer;
	margin: 2em;
	clear: both;
	display: block
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right; 
	margin-right: 3px; 
	font-size: 12px
}
.confirmation { 
	color: #808000; 
	font-weight: bold 
}
#page .rte { background: transparent none repeat scroll 0 0 }

/* module paypalapi */
.paypalapi_about { text-align: justify }
.paypalapi_about ul { padding-left: 20px }

/* cms pages */
#cms div.content_only { 
	text-align: left; 
	padding: 10px 
}
.live_edit_feed_back_ok {
	color: #374853; 
	background-color: #DFFAD3; 
	padding: 4px; 
	border: 2px solid #72CB67
}
.live_edit_feed_back_ko {
	color: #374853; 
	background-color: #FAE2E3; 
	padding: 4px; 
	border: 2px solid #EC9B9B
}
.add_module_live_edit {
	background-color: #F1F2F4; 
	padding: 4px; 
	border: 2px solid #D0D3D8;
}

.page404_input { float: left; }

#order #discount_name { width: 130px; }
.discount{float:left;}
#block_user form.std fieldset{background:none;border:none;}

#block_user{background: #999999; /* Old browsers */
background: -moz-linear-gradient(top, #999999 0, #444444 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#999999), color-stop(100%,#444444)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #999999 0,#444444 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #999999 0,#444444 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #999999 0,#444444 100%); /* IE10+ */
background: linear-gradient(to bottom, #999999 0,#444444 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
height: 245px;
}
#block_user input{width:130px;height: 20px;line-height: 20px;padding: 0 4px;}
#block_user, #block_user a, #block_user h3, #block_user h4{color:#fff;}
#block_user h4{
	font-size: 40px;
font-weight: normal;
padding: 5px 10px 0;
height: auto;
border: none;
font-family:"Arial Narrow",Arial,sans-serif;
line-height:40px;
	}
#block_user label{width:75px; float:left;}
#block_user span {float: left; margin-right: 55px;}
#block_user input:focus{background:#fff;}
#block_user p, #block_user label{text-align:left;}
#block_user h3{color: #E5E5E5;
    font-size: 17px;
    line-height: 20px;
	border:none;}
#block_user p.submit input {width:auto;height: auto;line-height: 20px;padding: 5px 10px; float:right;
	/*	width: 180px;*/
	background: #9578ba; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1NzhiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iIzkxNzJiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzg2NjRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzVjMjg5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDE2OGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9578ba 0%, #9172b8 11%, #8664b1 26%, #5c2896 79%, #50168e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9578ba), color-stop(11%,#9172b8), color-stop(26%,#8664b1), color-stop(79%,#5c2896), color-stop(100%,#50168e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9578ba 0%,#9172b8 11%,#8664b1 26%,#5c2896 79%,#50168e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9578ba', endColorstr='#50168e',GradientType=0 ); /* IE6-8 */

}
#block_user p.text {margin-bottom:4px;}
#block_user p.lost_password a{font-size: 11px;font-weight: normal; color:#999999;}
#block_user p.lost_password a:hover {text-decoration: underline; color:#ffffff;}
#block_user #new-customer a {padding: 10px 0px 0; float:right; font-size:11px;}
#block_user #new-customer {border-top: 1px solid #5f6061;margin: 5px 10px 0;}
#block_user #new-customer h3 {padding:0px;}
#block_user #new-customer h3 a{ font-size:17px; color:#fff; font-weight:normal; float:left;}
#block_user #new-customer h3 a:hover {text-decoration:underline}
#authentication #center_column{float:none;margin:0 auto 30px auto;}
.block-custom-html-inner .block-title{display:none;}
body#index #left_column{margin:0px;}
body#index #center_column {width: 735px;}