/* product-list.tpl */
ul#product_list { margin-top: 10px; list-style-type: none;background: #EFEFEF; border: solid 1px #cccccc; }
ul#product_list li {
	float:left;
	/*width:235px;*/
	width: 130px;
	padding: 10px 6px 10px 6px;
	text-align: center;
	
	margin-bottom: 10px;
	/*border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;*/
}
ul#product_list li.first_item{/*border-left:1px solid #cccccc;*/}
* html ul#product_list li {
	height: auto !important;
	height: 130px
}
ul#product_list li a {
	text-decoration: none;
	/*color: #374853;*/
	color: #4d148c;
font: normal 12px Arial;
}
ul#product_list a.product_img_link {
	/*border: solid 1px #d0d3d8;*/
	float: left;
	margin-right: 0.6em
}
ul#product_list a.product_img_link img { vertical-align: bottom; display: block;}
ul#product_list li h3 { margin: 0.4em 0; height:30px; text-align: left; position:relative;}
ul#product_list li .new {
	background: transparent url(../img/flag_new_bg.jpg) repeat-x scroll 0%;
	/*border: 1px solid #488C40;*/
	color: white;
	font-size: 0.6em;
	font-weight: bold;
	margin: 0 1em 0 0;
	padding: 0 0.4em;
	text-transform: uppercase;
	vertical-align: 0.3em;
	position:absolute;
	right:0;
	top:-22px;
}
ul#product_list li p.product_desc {
	margin-bottom: 0;
	font-size: 0.92em
}
ul#product_list li div.center_block {
	float: left;
}
ul#product_list li div.right_block {
	float: left;
	width: 100%;
	/*margin-left: 0.8em;
	margin-top: 0;
	padding:0 0 0 10px;*/
	color: #666666;
	font: normal 12px Arial;
	text-align:left;
}
ul#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only {
	color: #da0f00;
	text-transform: uppercase;
	display: block
}
ul#product_list li .reduction {
	display: block;
	margin-bottom: 0.3em
}
ul#product_list li .price {
	display: block;
	margin-bottom: 0.2em;
	color: #666666;
font: normal 12px Arial;
}
ul#product_list li span.availability {
	color: #488c40;
	font-size: 0.9em
}
ul#product_list li a.button { margin: 10px 0 0 42px;display:none;}
ul#product_list li p.compare input { vertical-align: text-bottom }
