@charset "utf-8";
/* CSS Document */
.prestalove-easy-menu {
	float:left;
}
#header .prestalove-easy-menu {
	margin: 40px 0 0px;
}
.pl-easy-menu {
	float:left;
	width: 100%;
	text-align: left;
	/*border-top:1px solid #7a797c;
	background: url(img/nav-bg.png) 0 0 repeat-x;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 3px #333;
    -webkit-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;*/
}

#pl-menu-0 {
	position: relative;
}

.pl-easy-menu ul li.backLava {
	background: #488C40;
	height: 32px;
	z-index: 8;
	width:29px;
	position: absolute;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sf-menu {
  margin:0;
}
.sf-menu li {
	z-index:10;
	/*padding: 0 2px;*/
	/*border-top:1px solid #929292;
	background: url(img/nav-link-border.png) right center no-repeat;
	padding-right: 3px;*/
}
.sf-menu li a {
 /* padding: 0px 0px 0px 5px;*/
  line-height: 34px;
  color: #eee;
  /*text-shadow: -1px -1px 2px #333333;*/
  font-weight: bold;
  font-size: 110%;
  font-family:"Arial Narrow",Arial,sans-serif;
  
 /* margin-right:2px;*/
}
.sf-menu li > a, .sf-menu li > a > span{
	background-image: url(img/nav.png);
  	background-repeat: no-repeat;
  	background-position: left top;
}
.sf-menu li > a > span{background-position: right -34px; /*padding:0 20px 0 15px;*/ display:block;}
.sf-menu li > a span.sf-sub-indicator{display:none;}
.sf-menu a:hover{background-position: left -68px;}
.sf-menu a:hover span{background-position: right -102px;}
.sf-menu a.active{background-position: left -136px;}
.sf-menu a.active span{background-position: right -170px;}
.sf-menu li.sfHover > a {
  /*background: url(img/nav-link-hover.png);*/
  background:#FFF;
  background-image:none;
  color:#00a0d3;
  border-left:1px solid #f2f2f2;
  border-right:1px solid #f2f2f2;
/*  padding:0 1px 0 2px!important;*/
}

.sf-menu li.sfHover a span{background-image:none;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
top: 39px;
}
.sf-menu ul {
	background: #fff;
	margin: 8px 0;
	padding: 0 0px 8px;
	/*border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	box-shadow: 2px 2px 2px #000;
	border: 1px solid #f2f2f2;*/
	background: url(img/subnav_bot.png) no-repeat left bottom;
	border-top:none;
	/*width: 15em;*/
	width:184px;
}
.sf-menu ul li {
	
	background:  url(img/subnav_bg.png) repeat-y left top;
	padding: 0;width:184px;
	/*border:1px solid #eee;*/
}
.sf-menu ul li.last {
	border: none;
}
.sf-menu ul a,
.sf-menu li.sfHover ul a {
  background: none;
  /*padding: 9px 0;*/
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
  margin:0 10px; display:block; 
  line-height: normal;
 /* border-top: 1px solid #a8a9ad;*/
  font-size:12px;
  color:#676766;
}
.sf-menu ul li:first-child a,
.sf-menu li.sfHover ul li:first-child a{border:none;}
.sf-menu ul a span{padding:0;}
.sf-menu li.sfHover ul li a.active,
.sf-menu li.sfHover ul li a:hover {
  /*background: url(img/nav-link-hover.png);*/
  background:#f3f3f4;
  color:#00a0d3;
}

/* Vertical menu */
#left_column,
#right_column {
  overflow: visible;
}
.pl-easy-menu {
	/*-moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;*/
}
#left_column .sf-vertical ul, #right_column .sf-vertical ul {
  width: 14em;
  right: -14.2em;
}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  right: -14.2em;
  top: -1em;
}
#left_column .sf-vertical li:hover ul,
#right_column .sf-vertical li.sfHover ul {
  right: -14.2em; /* match ul width*/
  top: -1em;
}
.sf-vertical, .sf-vertical li {
  width: 100%;
}
.sf-vertical.pl-easy-menu {
  background: none;
  margin: 0 0 20px 0;
}
.sf-vertical.pl-easy-menu li {
  background: #D0D3D8;
  border-bottom: 1px solid #aaa;
  padding: 0;
  z-index:1;
}
.sf-vertical.pl-easy-menu li.last {
  border: none;
}
.sf-vertical.pl-easy-menu a {
  color: #374853;
  text-shadow: none;
}