/* block top user information */

#header_right #header_user {
	float: right;
	text-align: right;
	margin-right: 6px
}
#header_user p { color: #595a5e;border-right: 1px solid #666666;padding: 0 7px 0 0; }
#header_user p a{color: #666666;font-size: 11px;font-family: arial;}
#header_user_info,#header_nav{float:left;}
#header_user_info{margin: 0;}
#header_user span { font-weight: normal;font-size: 11px;font-family: arial; }
#header_user ul { margin-top:7px; }
#header_user li {
	float: left;
	line-height: 16px;
	white-space: nowrap;
	border-right: 1px solid #666666;
	padding: 0px 5px;
}
#header_user li.last{border:none;}
#header_user li a{font-size: 11px;color: #666666;font-family: Arial;
	}
#header_user #shopping_cart, #header_user #your_account { font-size: 0.9em }
#header_user li#your_account { margin-left: 0 }
/*#header_user #shopping_cart a, #header_user #your_account a {
	background-repeat: no-repeat;
	background-position: top left;
	padding: 2px 0 6px 26px;
	height: 20px;
}*/
/*#header_user #shopping_cart a { background-image: url('../../../img/icon/cart.gif') }
#header_user #your_account a { background-image: url('../../../img/icon/my-account.gif') }*/