<!-- MODULE Block advertising -->
<div class="banner">
	<a href="{$adv_link}" title="{l s='Banner' mod='blockadvertising'}"><img src="{$image}" alt="{l s='Banner' mod='blockadvertising'}" /></a>
</div>
<!-- /MODULE Block advertising -->
