/*


   Magic Slideshow v2.0.7 
   Copyright 2014 Magic Toolbox
   Buy a license: www.magictoolbox.com/magicslideshow/
   License agreement: http://www.magictoolbox.com/license/


*/

/**
 * Core styles
 *
 * IMPORTANT: We do not recommend editing this file.
 * Please edit the magicslideshow.default.css file instead.
 *
 */

.MagicSlideshow,
.mss-slider,
.mss-slide-wrapper,
.mss-slide,
.mss-selectors,
.mss-selectors-wrapper,
.mss-selector,
.mss-selectors-eye,
.mss-caption,
.mss-caption span,
.mss-button,
.mss-arrow,
.mss-button span,
.mss-arrow span,
.mss-fullscreen {
    margin: 0;
    padding: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.MagicSlideshow,
.mss-slider,
.mss-selectors {
    line-height: 100%;
    vertical-align: top;
}

.mss-slider,
.mss-slide,
.mss-selectors {
    border: none;
    display: inline-block;
    position: absolute;
}

.mss-slide-wrapper,
.mss-slide {
    direction: ltr;
    width: 100%;
    /*height: 100%;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: top left;
    perspective-origin: top left;
}

.MagicSlideshow {
    width: 100%;
    max-width: 100%;
    height: 290px;
    background: transparent;
    direction: ltr;
    overflow: visible;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: none;
    touch-action: none;
}
.MagicSlideshow:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 0;
}

.mss-slider {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: auto;
    height: auto;
    z-index: 1;
}

.mss-slide-wrapper {
    position: relative;
    z-index: 1;
}

.mss-slide {
    overflow: hidden;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

.mss-slide:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mss-content-slide {
    text-align: left;
}

.mss-slide-active {
    z-index: 99;
}

.mss-slide img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-interpolation-mode: bicubic;
}

.mss-slide > img.mss-slide-img {
    position: relative;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.lt-ie8-magic .mss-slide img.mss-slide-img {
    display: inline-block !important;
    width: 100% !important;
}

/* Styles for selectors container */
.mss-selectors {
    direction: ltr;
    overflow: hidden;
    z-index: 100;
    left: 0;
    top: 0;
}
.mss-selectors-horizontal .mss-selectors {
    width: 100%;
    white-space: nowrap;
}
.mss-selectors-bottom .mss-selectors {
    top: auto;
    bottom: 0;
}

.mss-selectors-vertical .mss-selectors {
    height: 100%;
}
.mss-selectors-right .mss-selectors {
    left: auto;
    right: 0;
}

.mss-selectors-wrapper {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.mss-selector {
    vertical-align: top;
    line-height: 100%;
    cursor: pointer;
    display: inline-block;
}

.mss-selectors-eye {
    z-index: 10;
}

/* Thumbnail style selectors */
.mss-thumbnails .mss-selectors-container {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.mss-selectors-horizontal .mss-thumbnails .mss-selectors-container {
    height: 100%;
}
.lt-ie8-magic .mss-selectors-horizontal .mss-thumbnails .mss-selectors-container {
    height: auto;
    float: left;
}

.mss-selectors-vertical .mss-thumbnails .mss-selectors-container {
    width: 100%;
    text-align: center;
}
.lt-ie8-magic .mss-selectors-vertical .mss-thumbnails .mss-selectors-container {
    width: auto;
}

.mss-thumbnails .mss-selector  {
    overflow: hidden;
}

.mss-selectors-horizontal .mss-thumbnails .mss-selector {
    width: auto;
    height: 100%;
}

.mss-selectors-vertical .mss-thumbnails .mss-selector {
    width: 100%;
    height: auto;
}

.mss-thumbnails .mss-selectors-container > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin: 0 1px;
}

.ie8-magic .mss-thumbnails .mss-selectors-container > img {
    max-width: none !important;
    max-height: none !important;
}

/* Bullet style selectors */
.mss-bullets .mss-selectors-container {
    display: inline-block;
    text-align: center;
}
.mss-bullets .mss-selectors-wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/**
 * Caption
 */
.mss-caption {
    z-index: 50;
    position: absolute;
    display: block;
}

.mss-caption span {
    width: 100%;
    z-index: 100;
}

/**
 * Buttons & Arrows
 */

.mss-button, .mss-arrow {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    display: block;
    /*opacity: 0;
    outline: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;*/
}
.lt-ie9-magic .mss-slider .mss-arrow  {
    filter: alpha(opacity = 0);
}
.mss-button,
.mss-desktop .mss-selectors .mss-arrow,
.mss-desktop .mss-slider:hover .mss-arrow,
.lt-ie9-magic .mss-slider:hover .mss-arrow  {
    opacity: .6;
    filter: alpha(opacity = 60);
}
.mss-slider:hover .mss-button:hover,
.mss-desktop .mss-slider:hover .mss-arrow:hover,
.mss-desktop  .mss-selectors:hover .mss-arrow:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}
.mss-button-hidden {
    opacity: 0 !important;
    filter: alpha(opacity = 0) !important;
}

.mss-selectors .mss-arrow {
    position: relative;
    display: inline-block;
}

/**
 * Full Screen
 */
.mss-fullscreen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2147483647 !important;
}

/**
 * Miscellaneous
 */
.mss-loader {
    position: absolute;
    z-index: 0;
}

.magic-temporary-img img {
    max-height: none !important;
    max-width: none !important;
}
.mss-hidden {
    display: none !important;
    visibility: hidden !important;
}

.mss-slider:hover .mss-disabled,
.mss-selectors .mss-disabled {
    opacity: 0.1 !important;
    filter: alpha(opacity = 10) !important;
}

.mss-responsive-img {
    left: -10000px;
    z-index: -1;
}

.transformStyle {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.backface-visHid {/*bars3d, blinds3d, cube, flip*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.defParentDiv {/*bars3d, blinds3d, cube, flip*/
    overflow: visible;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
/***************************
 *
 * EDIT THIS FILE: We recommend modifying the styles in this file to change the look of your slideshow.
 *
 **************************/

/**
 * Slides
 */
.mss-slider { background: #fafafa; }

.mss-content-slide {
    background-color: #f3f3f3;
    padding: 6px 10px;
}

/**
 * Selectors
 */
.mss-selectors-horizontal .mss-bullets {
    width: 100%;
    height: 40px;
    min-height: 24px;
}

.mss-selectors-vertical .mss-bullets {
    min-width: 24px;
    width: 40px;
    height: 100%;
}

.mss-selectors-vertical .mss-bullets .mss-selectors-container {
    vertical-align: middle;
    width: 16px;
}

.mss-bullets .mss-selector {
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background: none repeat scroll 0 0 #aaa;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-indent: 9999px;
    vertical-align: middle;
}
.mss-bullets  .mss-selector:after {
    width: 6px;
    height: 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 3px;
    content: '';
    position: relative;
    display: block;
    text-indent: 9999px;
    background: none;
}
.mss-bullets .mss-selector-active:hover:after,
.mss-bullets .mss-selector-active:after {
    background: #fff !important;
    border-color: transparent;
}
.mss-bullets .mss-selector:hover:after {
    background: #555 !important;
    border-color: transparent;
}

.ie7-magic .mss-bullets .mss-selector {
    text-align: center;
    float: left;
}

.mss-thumbnails { background: #d9d9d9; }
.mss-selectors-horizontal .mss-thumbnails .mss-selectors-container {
    padding: 8px 0;
}
.mss-selectors-vertical .mss-thumbnails .mss-selectors-container {
    padding: 0 8px;
}
.mss-thumbnails .mss-selector { opacity: .6; }
.mss-selectors-horizontal .mss-thumbnails .mss-selector { margin: 0 5px; }
.mss-selectors-vertical .mss-thumbnails .mss-selector { margin: 5px 0; }
.mss-thumbnails .mss-selector-active {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 2px 2px #888888;
    -moz-box-shadow: 0px 0px 2px 2px #888888;
    box-shadow: 0px 0px 2px 2px #888888;
}

.mss-selectors-eye { border: 3px solid #fff; }


/**
 * Caption
 */
.mss-caption {
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: .7;
}

.mss-caption span {
    font-size: 14px;
    height: 50px;
    background: #aaa;
    color: #222;
    text-align: left;
    line-height: 24px;
    padding: 3px 8px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.lt-ie9-magic .mss-caption span {
    filter: alpha(opacity=70);
}

.mss-caption-title {
    font-size: 125%;
    display: block;
}

.mss-caption a {
    color: #222;
}
.mss-caption a:visited {
    color: #444;
}
.mss-caption a:hover {
    color: #000;
}


/**
 * Buttons & Arrows
 */
.mss-button,
.mss-arrow {
    cursor: pointer;
    /*width: 40px;
    height: 40px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-image: none !important;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;*/
}
.ie9-magic .mss-button,
.ie9-magic .mss-arrow,
.lt-ie9-magic .mss-button,
.lt-ie9-magic .mss-arrow {
    background-image: url(/fedexcollection/modules/magicslideshow/graphics/buttons.png) !important;
    background-position: -200%;
}

.mss-button span,
.mss-arrow span {
    /*width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(/fedexcollection/modules/magicslideshow/graphics/buttons.png);
    background-color: #000;
    border: 2px solid #000;
    border-radius: 7px;
    margin-top: -20px;*/
    display: block;
    position: absolute;
    /*top: 50%;*/
}
.ie8-magic .mss-button span,
.ie8-magic .mss-arrow span {
    top: auto;
}
.lt-ie8-magic .mss-button span,
.lt-ie8-magic .mss-arrow span {
    width: 36px;
    height: 36px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {

    .mss-button span,
    .mss-arrow span {
        /*background-image: url(/fedexcollection/modules/magicslideshow/graphics/buttons@2x.png);
        background-size: 216px 120px;*/
    }
}

/* Slide arrows */
.mss-arrow {
    z-index: 120;
}

.mss-horizontal .mss-arrow {
    width: 28px;
    height: 20px;
    top: 5px;
	border:none;
}

.mss-horizontal .mss-arrow-prev {
    left: 15px;
}
.mss-horizontal .mss-arrow-prev {
    /*left: 8px;
    background-position: -72px -24px;*/
	background:url(/fedexcollection/modules/magicslideshow/graphics/feature_arrowLeft.png) no-repeat;
}

.mss-horizontal .mss-arrow-next {
    right: 15px;
}
.mss-horizontal .mss-arrow-next {
    /*right: 8px;
    background-position: -108px -24px;*/
	background:url(/fedexcollection/modules/magicslideshow/graphics/feature_arrowRight.png) no-repeat;
}

.mss-vertical .mss-arrow {
    left: 50%;
    margin-left: -20px;
}
.mss-vertical .mss-arrow span {
    margin: -20px 0 0;
    left: 0;
}

.mss-vertical .mss-arrow-prev {
    top: 8px;
}
.mss-vertical .mss-arrow-prev span {
    background-position: -180px -24px;
}

.mss-vertical .mss-arrow-next {
    bottom: 8px;
}
.mss-vertical .mss-arrow-next span {
    background-position: -144px -24px;
}

/* Selectors arrows */
.mss-selectors .mss-arrow {
    background-color: transparent;
    opacity: 0.6;
}

.mss-selectors .mss-arrow span {
    width: 24px;
    height: 24px;
    margin-top: -11px;
    background-color: transparent;
    border-color: transparent;
    border: none;
    border-radius: 0;
}

.mss-selectors-horizontal .mss-selectors .mss-arrow {
    float: left;
    width: 30px;
}
.mss-selectors-horizontal .mss-selectors .mss-arrow-next {
    float: right;
}

.mss-selectors-horizontal .mss-selectors .mss-arrow-prev span {
    left: 4px;
    background-position: -48px -60px;
}
.mss-selectors-horizontal .mss-selectors .mss-arrow-next span {
    right: 4px;
    background-position: -72px -60px;
}


.mss-selectors-vertical .mss-selectors .mss-arrow {
    height: 30px;
    width: 100%;
    top: auto;
    left: 0;
    margin-left: auto;
}

.mss-selectors-vertical .mss-selectors .mss-arrow span {
    left: 50%;
    margin-left: -12px;
}

.mss-selectors-vertical .mss-selectors .mss-arrow-prev {
    top: 0;
}
.mss-selectors-vertical .mss-selectors .mss-arrow-prev span {
    margin-top: 0;
    top: 3px;
    background-position: -120px -60px;
}
.mss-selectors-vertical .mss-selectors .mss-arrow-next {
    position: absolute;
    bottom: 0;
}
.mss-selectors-vertical .mss-selectors .mss-arrow-next span {
    bottom: 3px;
    background-position: -96px -60px;
}

/* Full Screen button */
.mss-button-fullscreen {
    top: 0;
    right: 0;
    z-index: 2000;
    width: 56px;
    height: 56px;
}
.mss-button-fullscreen span {
    right: 8px;
}
.mss-button-fullscreen-enter span {
    background-position: 0 -24px;
}
.mss-button-fullscreen-exit span {
    background-position: -36px -24px;
}


/**
 * Full Screen
 */
.mss-fullscreen {
    background: #1b1b1b;
}

.mss-fullscreen .mss-slider {
    background-color: #333;
}

.mss-fullscreen .mss-selectors {
    background: #D9D9D9;
    opacity: .8;
}

.mss-fullscreen .mss-message {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border-color: #ccc;
    top: 15px;
}

/**
 * Miscellaneous
 */
.mss-loader {
    background: transparent center no-repeat;
    background-image: url(/fedexcollection/modules/magicslideshow/graphics/loader.gif);
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    margin: -21px 0 0 -21px;
    opacity: .2;
}
.lt-ie9-magic .mss-loader {
    filter: alpha(opacity = 20);
}

.mss-message {
    color: #000;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #AAAAAA;
    font-size: 10px;
    padding: 6px;
    display: block;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 33%;
    left: 33%;
    z-index: 100;
    border-collapse: separate;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

/* Contaner with main image and selectors container */
div.MagicToolboxContainer {
    text-align: center;
}

/* Main image styles */
div.MagicToolboxContainer a {
    margin: 0 auto;
}

/* Container with selectors*/
div.MagicToolboxSelectorsContainer {
    clear: both;
}

/* Selectors styles */
div.MagicToolboxSelectorsContainer a {
    display: inline-block;
    margin: 4px 1px;
}

div.MagicToolboxMessage {
    text-align: center;
}

/* selectors-left */
div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer {
    float: left;
}
div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer {
    float: left;
}

/* selectors-right */
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    float: right;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    float: right;
}

.MagicScrollItem a {
    /* NOTE: magicscroll makes the image smaller if there is a margin */
    margin: 0 !important;
}

#center_column, #left_column, #right_column {
    overflow: visible !important;
}
#primary_block #image-block {
    height: auto;
}
div.MagicSlideshow {
    margin: 18px auto 0;
}
.mss-slide-img {
    border: none !important;
}
