/* Block editorial */
.editorial_block { margin-bottom: 10px }
.editorial_block .rte { background: transparent none repeat scroll 0 0 }
.editorial_block h1 {
	background: none;
	padding: 0;
	margin-bottom:0px;
}
.editorial_block h2 {
	font-size: 1.1em;
    margin: 0;
	text-transform: none;
	padding: 0;
	background: none;
	color: #666666;
}
.editorial_block p { padding-top:0; }
#editorial_block_center p { padding-left: 0 }

#editorial_image_legend {
	color: #AAAAAA;
    font-size: 6pt;
    font-style: italic;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

