<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Message from {shop_name}</title>
</head>
<body>
	<table style="font-family:Verdana,sans-serif; font-size:11px; color:#374953; width: 550px;">
		<tr>
			<td align="left">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" ></a>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="left" style="background-color:#DB3484; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;">Message from your shop {shop_name}</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="left">
                Subject: {{subject}}
				E-mail address: <a href="mailto:{email}"><b>{email}</b></a>
				<br><br>
				Message: {message}
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<!--<tr>
			<td align="center" style="font-size:10px; border-top: 1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#DB3484; font-weight:bold; text-decoration:none;">{shop_name}</a> powered with <a href="http://www.prestashop.com/" style="text-decoration:none; color:#374953;">PrestaShop™</a>
			</td>
		</tr>-->
	</table>
</body>
</html>
